name: Deploy Static Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to Public Repo
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: main
          folder: .           # <-- titik artinya deploy seluruh repo
          repository-name: Rppma6174/UMTWeb
          token: ${{ secrets.GITHUB_TOKEN }}
