name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy to GitHub Pages Repo
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: main
          folder: dist   # ganti jika output build kamu bukan dist
          repository-name: USERNAME/mywebsite-public
          token: ${{ secrets.GITHUB_TOKEN }}
